@model IEnumerable<Ancestry.Models.Review>

@{
    ViewBag.Title = "Review List";
}

<h2>User Details</h2>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                Name :
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        <tr>
            <td>
                Email :
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
        <tr>
            <td>
                Age :
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
        </tr>
    </table>
}
