
@{
    ViewBag.Title = "ThankYou";
}

<h2 class="text-center">Thank You For Completing The Survey</h2>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        $('body').css('display', 'none');

        $('body').fadeIn(1000);
    }
</script>