
@{
    ViewBag.Title = "ThankYou";
}

<head>
    <script type="text/javascript">
        window.onload = function () {
            $('body').css('display', 'none');

            $('body').fadeIn(1000);
        }
    </script>
</head>

<h2 class="text-center">Thank You For Completing The Survey</h2>
